<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feng's Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

    <style>
        .jumbotron {
            background: url(https://nyc3.digitaloceanspaces.com/aph/app/uploads/2019/02/26161133/iStock-904084674.jpg) fixed center no-repeat;
            background-size: cover;
            margin: 0
        }
        .img-thumbnail {
            width:20%;
            height:35%;
            padding: 18px 18px 18px 18px;
            margin: 3em;
        }

        .img-thumbnail2 {
            width:20%;
            height:40%;
            padding: 18px 18px 18px 18px;
            margin: 2em;
        }

    </style>

</head>
<body>
<div th:replace="base :: cover"></div>
<div th:replace="base :: navlinks"></div>
<br/>

<div class="container">
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
            <h5 class="card-title text-center">October 21, 2019</h5>
            <p class="card-text text-center">What is GitHub?</p>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Read More...
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body text-dark">
                <img class="img-thumbnail rounded float-left" th:src="@{/githublogo.png}" alt="github logo">
                GitHub facilitates social coding by providing a web interface to the Git code repository and management tools for collaboration. GitHub can be thought of as a serious social networking site for software developers. Members can follow each other, rate each other's work, receive updates for specific projects and communicate publicly or privately.
                Three important terms used by developers in GitHub are fork, pull request and merge. A fork, also known as a branch, is simply a repository that has been copied from one member's account to another member's account. Forks and branches allow a developer to make modifications without affecting the original code. If the developer would like to share the modifications, she can send a pull request to the owner of the original repository. If, after reviewing the modifications, the original owner would like to pull the modifications into the repository, she can accept the modifications and merge them with the original repository. Commits are, by default, all retained and interleaved onto the master project, or can be combined into a simpler merge via commit squashing.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <h5 class="card-title text-center">October 22, 2019</h5>
                <p class="card-text text-center">What I Like about GitHub</p>
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Read More...
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body text-dark">
                <img class="img-thumbnail rounded float-left" th:src="@{/githublogo.png}" alt="github logo">
                <ul>
                    <li>Documentation
                        <p>By using GitHub, you make it easier to get excellent documentation. Their help section and guides have articles for nearly any topic related to git that you can think of.</p>
                    </li>
                    <li> Showcase your work
                        <p>Are you a developer and wishes to attract recruiters? GitHub is the best tool you can rely on for this. Today, when searching for new recruits for their project, most companies look into the GitHub profiles. If your profile is available, you will have a higher chance of being recruited even if you are not from a great university or college.</p>
                    </li>
                    <li>Track changes in your code across versions
                        <p>When multiple people collaborate on a project, it’s hard to keep track revisions—who changed what, when, and where those files are stored. GitHub takes care of this problem by keeping track of all the changes that have been pushed to the repository. Much like using Microsoft Word or Google Drive, you can have a version history of your code so that previous versions are not lost with every iteration.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <h5 class="card-title text-center">October 23, 2019</h5>
                <p class="card-text text-center">public static void main(string args[]) Explanation</p>
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Read More...
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body text-dark">
                <img class="img-thumbnail2 rounded float-left" th:src="@{/javalogo2.png}" alt="java logo">
                <p>Java Virtual Machine will always look for a specific method signature to start running an application, and that would be public static void main(String args[]). Here args is an argument of the type String array. String array argument can also be written as String[] args. Though type of the argument(String array) is fixed, you can still change the name from args to anything.</p>
                <p>Also with the introduction of java args, instead of writing String args[], String… args can be used.  Keep learning to know more about each and every keyword.</p>
                <b>Public</b>
                <p>It is an Access Modifier, which defines who can access this Method. Public means that this Method will be accessible by any Class(If other Classes can access this Class.).</p>

                <b>Static</b>
                <p>Static is a keyword that identifies the class-related thing. It means the given Method or variable is not instance-related but Class related. It can be accessed without creating the instance of a Class.</p>

                <b>Void</b>
                <p>It is used to define the Return Type of the Method. It defines what the method can return. Void means the Method will not return any value.</p>

                <b>main</b>
                <p>Main is the name of the Method. This Method name is searched by JVM as a starting point for an application with a particular signature only.</p>

                <b>String args[] / String… args</b>
                <p>It is the parameter to the main method. The argument name could be anything.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <h5 class="card-title text-center">October 25, 2019</h5>
                <p class="card-text text-center">Access Modifiers for Instance & Static Variables</p>
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Read More...
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body text-dark">
                <img class="img-thumbnail rounded float-left" th:src="@{/javalogo2.png}" alt="java logo">
                <p>Variables are eligible for all of the below-mentioned modifiers.</p>


                <b>Default</b>
                <p>If a variable is set to default, it will be accessible to the classes which are defined in the same package. Any method in same package class can access the variable via Inheritance or Direct access.</p>

                <b>Public</b>
                <p>If a variable is set to the public it can be accessed from any class available in the java world. Any method in any class can access the given variable via Inheritance or Direct access.</p>

                <b>Protected</b>
                <p>If a variable is set to protected inside a class, it will be accessible from its subclasses defined in the same or different package only via Inheritance.</p>

                <b>Private</b>
                <p>A variable defined private will be accessible only from within the class in which it is defined. Such variables are not accessible from outside the defined class, not even in its subclass.</p>

            </div>
        </div>
    </div>
</div>
</div>




<br \>
<br \>
<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>